<html >
<head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>	
<title>Nacolepsy Blog</title>

</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">Nacolepsy Blog</a></h1>
<h2>innovation @ its best</h2>
</div>

<div id="content">

<div class="menu"> 





<ul>
<a href='/reg/logout'>logout</a>
</ul>


<ul>

</ul>

</div>

<div class="right"> 


<div class="articles">

{% block content %}



   


{% endblock %}		

	 


</div>

<div class="articles">

</div>
</div>

<div class="left"> 


<ul>

<a href="/blog/posts/"><h3>Blog Posts</h3>
</ul>




</div>

<div style="clear: both;"> </div>

</div>

<div id="bottom"> </div>

<div id="footer">
Designed by <a href="#">Nacolepsy</a>
</div>
</div>
<div style="position:absolute;left:-30000px;top:-30000px"></div>
</body>
</html>
