<html>
<head><title>Post Details</title></head>
<body>
{% extends "blog/base.html" %}
{% block content %}


	<h4>
			
		
	</h4>
	<p class="big">
	<ul>	
		<li>   Title:{{ posts.title }}</li>
		   <h4>Post:</h4> <p> {{ posts.body_text }}</p>
		    
		
		
		
		
		
		
	</ul>
	</p>

{% for comment in comments %}
	<p class="big">
	<ul>
		<ul>

			<li>	Author: {{ comment.author }}</li>
				<li>Comment: {{ comment.body }}</li>
				         
					 
		</ul>	</li>	
	</ul>
	<div>
{% if user.username == comment.author %}
	<a href="/blog/posts/edit_comment/{{ comment.id}}/edit">Edit comment</a>
{% endif %}






	
	</div>

	</p>
{% endfor %}
<h3>New comment:</h3>
<div>
<form method='post' action="" class="well">
{{ form.as_p }}
<input type='submit' name='Submit' class="btn-info">
</form>
</div>

{% endblock %}

</body>

</html>
