<!--
the template for your login page
This should be places in the templates/reg
folder. Name it what you will, but make sure
that the view function has the correct path

Also, remember that for this template
the lab has you make some changes
-->


{% extends "blog/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    
{% else %}
<p>Welcome, Guest. Please log in.</p>
    
{% endif %}
<a href='/reg/logout'>logout</a>
  <form action=" " class="well form-inline" method="post" class="well">

     {{ form.as_p }}
     <input type="submit" value="Submit" value="Login" class="btn-info"/>
  </form>

{% endblock %}


